[submodule "s2dedup-spdk-server"]
	path = s2dedup-spdk-server
	url = https://github.com/mmm97/s2dedup-spdk-server
[submodule "s2dedup-spdk-client"]
	path = s2dedup-spdk-client
	url = https://github.com/mmm97/s2dedup-spdk-client
